<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/inder.css">
    <title>HTML</title>
</head>
<body>
    <h2>Faça o login</h2>

<form method="post">
    <input type="text" name="login" data-js="login"/>
    <input type="password" name="password" data-js="password"/>
    <button type="but" data-js="but">Acao</button>
    
</form>
    <script src="html.js"></script>

</body>
</html>
